<nav class="navbar navbar-expand-lg   bg-dark  fw-bold fixed-top text-white">
    <div class="container-fluid  ">
      <h2 id="Shopmart">ShopMart</h2>
      <button
        class="navbar-toggler bg-white "
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/iphone-page"  >Iphone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/samsung-page" >Samsung</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/realme-page" >Realme</a>
          </li>
          
          
          <div class=" ms-4 mt-1">
            <i class="bi bi-cart3 fs-4 " id="cart" routerLink="/cart"></i>
          </div>
          <div class="" >
            <i class="bi bi-person fs-3 ms-3 " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i> 
              
          </div>

        
          
        </ul>
      
      </div>
      <!-- ICON -->
      
      
    </div>
   
    
  </nav>



<section class="">

    <div class=" text-center">
        <div class="mb-4 mt-4 ">
            <img class="mt-5" src="../../assets/realme/Realme-GTNeo3-Mobile-Phone-58.jfif" alt="">
        </div>
    </div>
</section>

<section class=" text-center mt-5">
    <div>
        <img src="../../assets/realme/Realme-GTNeo3-Mobile-Phone-66.jfif" alt="">
    </div>
</section>

<section class=" text-center mt-5">
    <div>
        <img src="../../assets/realme/Realme-GTNeo3-Mobile-Phone-65.jfif" alt="">
    </div>
</section>

<section class=" text-center mt-5">
    <div>
        <img src="../../assets/realme/Realme-GTNeo3-Mobile-Phone-59.jfif" alt="">
    </div>
</section>

<section class="container text-center mt-5">
    <div>
        <img src="../../assets/realme/Realme-GTNeo3-Mobile-Phone-47.jfif" alt="">
    </div>
</section>

<section class="container text-center mt-5">
    <div>
        <img src="../../assets/realme/Realme-GTNeo3-Mobile-Phone-48 (1).jfif" alt="">
    </div>
</section>

<section class="container ">
    <div id="video" class="text-center">
        
            <iframe  src="../../assets/realme/realme-GT-Neo-2-Smartphone-Set-8760-V-51.mp4" ></iframe>
        
    </div>
</section>





<section class="container">
    <div class="row">
        <div class="col-md-3" >
            <div>
                 
            </div>
        </div>

    </div>
</section>
 

<section class=" text-center mt-5">
    <div>
        <img src="../../assets/realme/Realme-GTNeo3-Mobile-Phone-67.jfif" alt="">
    </div>
</section>

<section class="  text-center mt-5">
    <div>
        <img src="../../assets/realme/realme-GT-Neo-2-Smartphone-Set-8760-47.jfif" alt="" class="rounded w-75">
    </div>
</section>

<section class=" text-center mt-5 mb-5">
    <div>
        <img src="../../assets/realme/Realme-GTNeo3-Mobile-Phone-55.jfif" alt="" class="w-75">
    </div>
</section>


<app-footer></app-footer>

