<nav class="navbar navbar-expand-lg   bg-dark  fw-bold fixed-top text-white">
    <div class="container-fluid  ">
      <h2 id="Shopmart">ShopMart</h2>
      <button
        class="navbar-toggler bg-white "
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/iphone-page"  >Iphone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/samsung-page" >Samsung</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/realme-page" >Realme</a>
          </li>
          
          
          <div class=" ms-4 mt-1">
            <i class="bi bi-cart3 fs-4 " id="cart" routerLink="/cart"></i>
          </div>
          <div class="" >
            <i class="bi bi-person fs-3 ms-3 " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i> 
              
          </div>

        
          
        </ul>
      
      </div>
      <!-- ICON -->
      
      
    </div>
   
    
  </nav>

<section>
    <div class="container-fluid ">
        <div id="Iphone-image">
            
        </div>
    </div>
</section>

<section class="">
    <div class="text-center mt-5">
        <h5 class="text-secondary">New</h5>
        <h3>iPhone 14</h3>
        <div>
            <label class="fs-4">From ₹79900.00* before trade‑in</label>
        </div>

    </div>
    <div class=" text-center">
        <div class="mb-4 mt-4 ">
            <img class="mt-5" src="../../assets/iphones/iPhone-14-Mobile-Phone-21.jfif" alt="">
        </div>
    </div>
</section>

<section class="container text-center mt-5">
    <div>
        <img src="../../assets/iphones/iPhone-14-Mobile-Phone-23.jfif" alt="">
    </div>
</section>
<section class="container text-center mt-5">
    <div>
        <img src="../../assets/iphones/iPhone-14-Mobile-Phone-26.jfif" alt="">
    </div>
</section>

<section class="container ">
    <div id="video" class="text-center">
        
            <iframe  src="../../assets/iphones/large_2x.mp4" ></iframe>
        
    </div>
</section>

<section class="container">
    <div class="row">
        <div class="col-md-3" >
            <div>
                <h5>{{ViewIphonePrdct}}</h5>
                 
            </div>
        </div>

    </div>
</section>
 

<section class="container text-center mt-5">
    <div>
        <img src="../../assets/iphones/iPhone-14-Mobile-Phone-39.jfif" alt="">
    </div>
</section>

<section class="container text-center mt-5">
    <div>
        <img src="../../assets/iphones/iPhone-14-Mobile-Phone-25.jfif" alt="">
    </div>
</section>


<app-footer></app-footer>

