<nav class="navbar navbar-expand-lg   bg-dark  fw-bold fixed-top text-white">
    <div class="container-fluid  ">
      <h2 id="Shopmart">ShopMart</h2>
      <button
        class="navbar-toggler bg-white "
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="home" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/iphone-page"  >Iphone</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/samsung-page"  >Samsung</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="/realme-page" >Realme</a>
          </li>
          
          
          <div class=" ms-4 mt-1">
            <i class="bi bi-cart3 fs-4 " id="cart" routerLink="/cart"></i>
          </div>
          <div class="" >
            <i class="bi bi-person fs-3 ms-3 " data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i> 
              
          </div>

        
          
        </ul>
      
      </div>
      <!-- ICON -->
      
      
    </div>
   
    
  </nav>

<section>
    <div class="container-fluid ">
        <div id="Samsung-image">
            
        </div>
    </div>
</section>


<section class="container-fluid">
    
    <div class=" ">
        <div class="mb-4 mt-4 " id="samsung">
        
        </div>
    </div>
</section>



<section class=" text-center mt-5">
  <div>
      <img src="../../assets/samsung/Samusng-S22-Ultra-Smartphone-Set-12222-29.jfif" alt="">
  </div>
</section>

<section class="container text-center mt-5">
    <div class="">
       <iframe src="../../assets/samsung/galaxy-s22-ultra_highlights_design-video.mp4" style="width: 100%;height: 100vh;" autoplay></iframe>
    </div>
</section>

<section class=" text-center mt-5 mb-2">
  <div>
      <img src="../../assets/samsung/Samusng-S22-Ultra-Smartphone-Set-12222-30.jfif" alt="">
  </div>
</section>

<section class=" text-center mt-5">
  <div>
      <img src="../../assets/samsung/galaxy-s22_banner_introduction.webp" alt="">
  </div>
</section>


<app-footer></app-footer>

